body, h2, p {
    font-family: sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: #333;
}

.search-container {
    width: 100%;
    padding: 1.25rem;
    background-color: #333;
    position: fixed;
    top: 0;
}

input {
    /*margin-left: 6.5rem;*/
    margin-left: 8%;
    width: 20%;
    height: 25px;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 0;
}


.filter .select {
    padding: 3rem;
}

.content {
    padding: 6rem 10%;
    text-align: justify;
}

h2 {
    padding: 1rem 0;
    letter-spacing: 2px;
    font-weight: 600;
}